head
  title Forgot password
body
  header
    h1 Forgot Password
  main
    form(action='/api/user/forgotPassword' method='POST')
      input(placeholder='email' type='email' name='email')
      br
      br
      button(type='submit') Reset password
    a(href='/') Back to Sign In
  footer
    script(src='js/index.js')
