head
  title Logged In
body
  header
    h1 Logged In
  main
    span You're now signed in
    br
    br
    form(method='POST' action='/api/user/delete' onsubmit='return confirm("are you sure you want to delete your account");')
      button(type='submit') Delete account
    form(action='/api/user/logout' method='POST')
      button(type='submit') Logout
  footer
    script(src='js/index.js')
    script(src='js/loggedIn.js')
