head
  title Logged In
body
  header
    h1 Logged In
  main
    span You're now signed in
    br
    br
    button(onclick='deleteAccount()') Delete account
    br
    br
    button(onclick='logout()') Logout
  footer
    script(src='js/index.js')
    script(src='js/loggedIn.js')
