head
body
  header
    h1 Register
  main
    form(action='/api/user/register' method='POST')
      input(placeholder='name' type='text' name='name')
      br
      br
      input(placeholder='email' type='email' name='email')
      br
      br
      input(placeholder='password' type='password' name='password')
      br
      br
      button(type='submit') Register
    a(href='/login') Login
  footer
