head
	title Sign in
	link(rel='stylesheet' href='css/index.css')
body
	header
		h1 Sign in
	main
		form(action='/signIn' method='POST')
			label Email 
			input(type='email' name='email')
			br
			br
			label Password 
			input(type='password' name='password')
			br
			br
			button(type='submit') Sign in
		a(href='/signUp') Sign up
	footer
