head
	title Sign up
	link(rel='stylesheet' href='css/index.css')
body
	header
		h1 Sign up
	main
		form(action='/signUp' method='POST')
			label Name 
			input(type='text' name='name')
			br
			br
			label Email 
			input(type='email' name='email')
			br
			br
			label Password 
			input(type='password' name='password')
			br
			br
			button(type='submit') Sign up
		a(href='/signIn') Sign in
	footer
